pywin32; sys_platform == 'win32'
pylibftdi
pydispatcher
requests
attrdict3
wxPython==4.0.3
requests
lxml
numpy==1.15.4
colour
pyparsing
gitpython
git+https://github.com/Pongmi04/eculib.git#egg=eculib>=1.0.9
